// Config -----------------------------------
@syntax-hue:          220;
@syntax-saturation:   13%;
@syntax-brightness:   18%;


// Monochrome -----------------------------------
@mono-1: #E5E5DE; // default text
@mono-2: @mono-1;
@mono-3: #75715E;

// Colors -----------------------------------
@hue-1:   #66D9EF; // <-cyan
@hue-2:   #A6E22E; // <-blue
@hue-3:   #F92672; // <-purple
@hue-4:   #E6DB74; // <-green
@orange: #FD971F;

@hue-5:   #AE81FF; // <-red 1
@hue-5-2: #FF00C6; // <-red 2

@hue-6:   @hue-5; // <-orange 1
@hue-6-2: @hue-1; // <-orange 2


// Base colors -----------------------------------
@syntax-fg:     @mono-1;
@syntax-bg:     #0D0D0D;
@syntax-gutter: darken(@syntax-fg, 26%);
@syntax-guide:  fade(@syntax-fg, 15%);
@syntax-accent: @mono-1;
